@model Task1.Models.EmployeeAddress

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Address</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name /ENo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.ename)/
            @Html.DisplayFor(model => model.Employee.eno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.addressline1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addressline1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addressline2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addressline2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.landmark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landmark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.country1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country1.code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.state1.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state1.code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.city1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city1.code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ispermanant)
        </dt>

        <dd>
            @(Model.ispermanant.ToString() == "1" ? "Yes" : "No")

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @(Model.status.ToString() == "1" ? "Active" : "In Active")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
